
.icon-home:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-down-open-mini:before { content: '\e802'; } /* '' */
.icon-left-open-mini:before { content: '\e803'; } /* '' */
.icon-right-open-mini:before { content: '\e804'; } /* '' */
.icon-up-open-mini:before { content: '\e805'; } /* '' */
.icon-right-open-outline:before { content: '\e806'; } /* '' */
.icon-left-open-outline:before { content: '\e807'; } /* '' */
.icon-lightbulb:before { content: '\e808'; } /* '' */
.icon-calendar-outlilne:before { content: '\e809'; } /* '' */
.icon-location-outline:before { content: '\e80a'; } /* '' */
.icon-clipboard:before { content: '\e80b'; } /* '' */